.dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  h2 {
    font: normal normal bold 24px/30px Helvetica Neue;
    letter-spacing: -0.48px;
    color: #545f71;
    opacity: 1;
  }

  .building-select {
    padding: 1rem;
    border: 2px solid #dddddd;
    border-radius: 6px;
    font-size: 1rem;
    width: 321px;
  }

  @media (max-width: 640px) {
    flex-direction: column;
    align-items: flex-start;
  }
}
