.layout {
  display: grid;
  grid-template-columns: 80px 1fr 70px;
  height: 100vh;
  width: 99vw;

  .left-panel {
    background: #f9f9f9;
    padding: 1rem;
    border-right: 2px solid #eeeeee;
    min-height: 100vh;
    height: 100%;
  }

  .main-content {
    background: #fff;
    padding: 2rem;
    overflow-y: auto;
  }

  .right-panel {
    background: #f9f9f9;
    padding: 1rem;
    border-left: 2px solid #eeeeee;
    min-height: 100vh;
    height: 100%;
  }

  @media (max-width: 1024px) {
    grid-template-columns: 80px 1fr;

    .right-panel {
      display: none;
    }
  }

  @media (max-width: 480px) {
    grid-template-columns: 1fr;

    .left-panel,
    .right-panel {
      display: none;
    }
  }
}
